/*

COLOR PALLETE

pink - #F2AFEF
light purple - #C499F3
purple - #7360DF
darker purple - #33186B

*/

* {
  margin: 0;
  padding: 0;
}

body {
  background-color:  #33186B;

  display: flex;
  justify-content: center;
}

.ttl {
  margin: 20px;
  color: #C499F3;
}